/* ===== Style Block 0 ===== */
html,
body {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background: #040405 !important;
  overflow: hidden !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
#root {
  width: 800px !important;
  height: 480px !important;
  background: #080808 !important;
  border: 1px solid #1b1a1e !important;
  border-radius: 12px !important;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8) !important;
  overflow: hidden !important;
  position: relative !important;
}
._background_183py_1 {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: inherit !important;
}
._headerRight_wxni4_1 {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
}
.notification-container {
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
}

/* ===== Style Block 1 ===== */
html,
body {
  height: 100%;
  margin: 0;
  background: transparent;
}
#root {
  height: 100%;
  background: transparent;
}

/* ===== Style Block 2 ===== */
@font-face {
  font-family: SFRegular;
  src: url(assets/asset_7.ttf);
}
@font-face {
  font-family: SFBold;
  src: url(assets/asset_8.ttf);
}
@font-face {
  font-family: Icons;
  src: url(assets/asset_9.ttf);
}
:root {
  --transition: all 0.3s ease-in-out;
  --accent-color-mixed: color-mix(
    in srgb,
    var(--accent-color) 67%,
    #2c2c2c 87%
  );
  --background-color: color-mix(
    in srgb,
    var(--accent-color-mixed),
    #080808 95%
  );
  --padding-lg: 24px;
  --padding-md: 12px;
  --padding-sm: 8px;
  --border-radius-lg: 24px;
  --border-radius-md: 12px;
  --border-radius-sm: 8px;
  --text-color: white;
  --text-color-grayed: #ffffff7a;
  --text-color-grayed-48: #ffffff7a;
  --text-color-grayed-24: #ffffff3d;
  --text-color-grayed-12: #ffffff1f;
  --border-color: #1b1a1e;
  --input-bg-color: color-mix(in srgb, var(--accent-color-mixed) 4.5%, #111111);
}
*::selection {
  background-color: color-mix(in srgb, var(--accent-color), transparent 75%);
  color: var(--text-color);
}
*::-webkit-scrollbar {
  width: 2px;
}
*::-webkit-scrollbar-thumb {
  background: var(--text-color-grayed-12);
}
body {
  overflow: hidden;
}
* {
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
  font-family: SFRegular, sans-serif;
  color: var(--text-color);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
[data-aos="speed-fade-up"] {
  transition-delay: 0.5s;
  transform: translateY(5px);
  transition:
    opacity 0.5s ease-out,
    transform 0.4s ease-out;
  transition-property: transform, opacity;
}
[data-aos="speed-fade-up"].aos-animate {
  transform: translateY(0);
}
[data-aos="speed-fade-down"] {
  transition-delay: 0.5s;
  transform: translateY(-5px);
  transition:
    opacity 0.5s ease-out,
    transform 0.4s ease-out;
  transition-property: transform, opacity;
}
[data-aos="speed-fade-down"].aos-animate {
  transform: translateY(0);
}
[data-aos="speed-fade-right"] {
  transition-delay: 0.5s;
  transform: translate(-5px);
  transition:
    opacity 0.5s ease-out,
    transform 0.4s ease-out;
  transition-property: transform, opacity;
}
[data-aos="speed-fade-right"].aos-animate {
  transform: translate(0);
}
[data-aos="speed-fade-left"] {
  transition-delay: 0.5s;
  transform: translate(5px);
  transition:
    opacity 0.5s ease-out,
    transform 0.4s ease-out;
  transition-property: transform, opacity;
}
[data-aos="speed-fade-left"].aos-animate {
  transform: translate(0);
}
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
img,
svg {
  display: block;
}
._headerRight_wxni4_1 {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 1000;
}
._headerRight_wxni4_1 ._action_wxni4_7 {
  font-size: 14px;
}
._headerRight_wxni4_1 ._action_wxni4_7 i {
  cursor: pointer;
  color: var(--text-color-grayed-48);
}
._headerRight_wxni4_1 ._action_wxni4_7 i:hover {
  color: var(--text-color-grayed-24);
}
._authorization_wxni4_18 {
  display: flex;
  width: 100%;
}
._authorization_wxni4_18 ._authorizationLeft_wxni4_22,
._authorization_wxni4_18 ._authorizationRight_wxni4_23 {
  width: 50%;
  height: 100%;
}
._authorization_wxni4_18 ._authorizationLeft_wxni4_22 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 32px;
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  ._authorizationTitle_wxni4_34 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  ._authorizationTitle_wxni4_34
  ._titleClientname_wxni4_40 {
  color: var(--text-color);
  font-size: 20px;
  font-family: SFBold;
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  ._authorizationTitle_wxni4_34
  ._titleVersion_wxni4_45 {
  color: var(--text-color-grayed);
  font-size: 14px;
}
._authorization_wxni4_18 ._authorizationLeft_wxni4_22 form {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 340px;
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  form
  ._authorizationForm_wxni4_55 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  form
  ._authorizationForm_wxni4_55
  ._formInput_wxni4_60 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  form
  ._authorizationForm_wxni4_55
  ._formInput_wxni4_60
  button {
  display: flex;
  align-items: center;
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  form
  ._authorizationForm_wxni4_55
  ._formInput_wxni4_60
  label {
  color: var(--text-color-grayed-24);
  font-size: 12px;
  letter-spacing: 0.2px;
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  form
  ._authorizationForm_wxni4_55
  ._formInput_wxni4_60
  ._inputEye_wxni4_75 {
  position: absolute;
  right: 15px;
  top: 35.5px;
  font-size: 12px;
  color: var(--text-color-grayed-24);
  cursor: pointer;
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  form
  ._authorizationForm_wxni4_55
  ._formInput_wxni4_60
  ._inputEye_wxni4_75:hover {
  filter: brightness(0.65);
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  form
  ._formButtons_wxni4_86 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  form
  ._formButtons_wxni4_86
  ._buttonsChoose_wxni4_91 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  form
  ._formButtons_wxni4_86
  ._buttonsChoose_wxni4_91
  ._line_wxni4_97 {
  width: 100%;
  height: 1px;
  background: var(--text-color-grayed-24);
  filter: brightness(0.5);
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  form
  ._formButtons_wxni4_86
  ._buttonsChoose_wxni4_91
  span {
  color: var(--text-color-grayed);
  filter: brightness(0.5);
  font-size: 10px;
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  ._authorizationForgot_wxni4_108 {
  font-size: 12.5px;
  color: var(--text-color-grayed-24);
  cursor: pointer;
}
._authorization_wxni4_18
  ._authorizationLeft_wxni4_22
  ._authorizationForgot_wxni4_108:hover {
  color: var(--text-color-grayed);
}
._authorization_wxni4_18 ._authorizationRight_wxni4_23,
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlay_wxni4_119 {
  position: relative;
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlay_wxni4_119
  img {
  width: 100%;
  height: 440px;
  border-radius: calc(var(--border-radius-lg) - 16px);
  object-fit: cover;
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlay_wxni4_119:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: calc(var(--border-radius-lg) - 16px);
  background: linear-gradient(
    to right,
    var(--background-color) 0%,
    color-mix(in srgb, var(--background-color), transparent 40%) 20%,
    transparent 70%
  );
  z-index: 2;
  pointer-events: none;
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlayText_wxni4_137 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlayText_wxni4_137
  ._text_wxni4_149 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color-grayed);
  width: 300px;
  font-size: 14px;
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlayText_wxni4_137
  ._text_wxni4_149
  ._textTitle_wxni4_157 {
  font-size: 16px;
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlayText_wxni4_137
  ._text_wxni4_149
  ._textVersion_wxni4_160 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: var(--text-color-grayed);
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlayText_wxni4_137
  ._text_wxni4_149
  ._textVersion_wxni4_160
  span {
  color: var(--text-color-grayed);
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlayText_wxni4_137
  ._textCenter_wxni4_170 {
  gap: 16px;
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlayText_wxni4_137
  ._textCenter_wxni4_170
  ._textIcon_wxni4_173 {
  font-size: 20px;
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlayText_wxni4_137
  ._textCenter_wxni4_170
  ._textDescription_wxni4_176 {
  color: var(--text-color-grayed);
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlayText_wxni4_137
  ._textCenter_wxni4_170
  ._textContent_wxni4_179 {
  text-align: center;
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlayButtons_wxni4_182 {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
  left: 50%;
  transform: translate(-50%, -300%);
  z-index: 1000;
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlayButtons_wxni4_182
  ._rightOverlayButton_wxni4_182 {
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 100%;
  opacity: 0.25;
}
._authorization_wxni4_18
  ._authorizationRight_wxni4_23
  ._rightOverlayButtons_wxni4_182
  ._rightOverlayButton_wxni4_182._active_wxni4_198 {
  opacity: 0.7;
}
.notification {
  transition: var(--transition);
  position: relative;
  display: inline-block;
  bottom: 0;
  right: 0;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: #161519;
  overflow: hidden;
  border-radius: var(--border-radius-md);
  z-index: 1000;
  opacity: 0;
  transition-behavior: allow-discrete;
  transform: translate(0);
  width: fit-content;
  min-width: 100px;
  max-width: 400px;
}
.notification.show {
  opacity: 1;
  transform: translate(0);
}
@starting-style {
  .notification.show {
    opacity: 0;
    transform: translate(150%);
  }
}
.notification.closing {
  opacity: 0;
  transform: translate(150%);
}
@starting-style {
  .notification.closing {
    opacity: 1;
    transform: translate(5px);
  }
}
.notification .notification-text {
  color: var(--text-color);
  padding: 10px;
}
.notification .notification-text .notification-message {
  color: var(--text-color);
  filter: brightness(50%);
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-word;
}
.notification-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  align-items: flex-end;
}
._inputContainer_1br4c_1 {
  position: relative;
  width: 100%;
}
._inputContainer_1br4c_1 ._inputIcon_1br4c_5 {
  transition: var(--transition);
  position: absolute;
  color: var(--text-color-grayed);
  top: 50%;
  left: 17.5px;
  transform: translateY(-50%);
  font-size: 12px;
}
._inputContainer_1br4c_1 ._inputXMark_1br4c_14 {
  transition: var(--transition);
  position: absolute;
  color: var(--text-color-grayed);
  top: 50%;
  right: 17.5px;
  transform: translateY(-50%);
  font-size: 15px;
  cursor: pointer;
}
._inputContainer_1br4c_1 ._inputXMark_1br4c_14:hover {
  color: var(--accent-color-mixed);
}
._inputContainer_1br4c_1 input {
  transition: var(--transition);
  padding: var(--padding-md) 0px var(--padding-md) 40px;
  border-radius: var(--border-radius-sm);
  background: var(--input-bg-color);
  border: 1px solid var(--border-color);
  width: 100%;
  height: 46px;
  color: var(--text-color);
}
._inputContainer_1br4c_1 input[type="number"]::-webkit-inner-spin-button,
._inputContainer_1br4c_1 input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
._inputContainer_1br4c_1 input:focus {
  border-color: var(--accent-color-mixed);
}
._inputContainer_1br4c_1 input:focus + ._inputIcon_1br4c_5 {
  color: var(--accent-color-mixed);
}
._inputContainer_1br4c_1 input:disabled {
  filter: brightness(0.8);
  color: #ffffff2d;
  pointer-events: none;
}
button {
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: var(--padding-md) var(--padding-lg);
  border-radius: var(--border-radius-sm);
  width: 100%;
}
button:disabled {
  filter: brightness(0.75);
  cursor: not-allowed;
}
._outline_8816a_17 {
  background: var(--input-bg-color);
  border: 1px solid var(--border-color);
}
._outline_8816a_17:is(:hover):not(:disabled) {
  border-color: var(--accent-color-mixed);
}
._fill_8816a_25 {
  box-shadow: inset 0 1px 1px #fff;
  background-color: color-mix(in srgb, var(--accent-color), #9b9b9b 40%);
  border: 1px solid var(--accent-color-mixed);
}
._fill_8816a_25:is(:hover):not(:disabled) {
  filter: brightness(0.65);
}
._loader_8816a_34 {
  transition: none !important;
  width: 16px;
  height: 16px;
  border: 3px solid
    color-mix(in srgb, var(--text-color-grayed), transparent 25%);
  border-bottom-color: var(--text-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: _rotation_8816a_1 1s linear infinite;
}
@keyframes _rotation_8816a_1 {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
._home_10but_1 ._homeVersions_10but_1 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
._home_10but_1 ._homeVersions_10but_1 ._version_10but_6 {
  transition: var(--transition);
  position: relative;
  flex-grow: 1;
  height: 188px;
}
._home_10but_1 ._homeVersions_10but_1 ._version_10but_6:first-child {
  width: 100%;
}
._home_10but_1 ._homeVersions_10but_1 ._version_10but_6:nth-child(3n) {
  flex-basis: 30%;
}
._home_10but_1 ._homeVersions_10but_1 ._version_10but_6 img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-sm);
  object-fit: cover;
  filter: saturate(30%) brightness(0.55) grayscale(1);
  transition: var(--transition);
}
._home_10but_1 ._homeVersions_10but_1 ._version_10but_6 img:hover {
  filter: saturate(40%) brightness(0.65);
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._versionContent_10but_29 {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  left: 10px;
  right: 10px;
  pointer-events: none;
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._versionContent_10but_29
  ._contentDisplay_10but_40 {
  display: flex;
  gap: 2.5px;
  font-size: 15px;
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._versionContent_10but_29
  ._contentGameVersion_10but_45 {
  font-size: 12.5px;
  color: var(--text-color-grayed);
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._contentButtonStart_10but_49 {
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 35px;
  height: 35px;
  border-radius: calc(var(--border-radius-sm));
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: color-mix(
    in srgb,
    var(--accent-color-mixed) 15%,
    rgba(78, 78, 78, 0.631372549)
  );
  backdrop-filter: blur(5px);
  cursor: pointer;
  z-index: 1001;
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._contentButtonStart_10but_49
  img {
  transform: translate(5px);
  object-fit: cover;
  filter: none;
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._contentButtonStart_10but_49:before {
  transition: var(--transition);
  transition-behavior: allow-discrete;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-color: color-mix(
    in srgb,
    var(--accent-color-mixed) 20%,
    rgba(78, 78, 78, 0.631372549)
  );
  z-index: -1;
  border-radius: calc(var(--border-radius-sm));
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._contentButtonStart_10but_49:hover:before {
  opacity: 1;
}
@starting-style {
  ._home_10but_1
    ._homeVersions_10but_1
    ._version_10but_6
    ._contentButtonStart_10but_49:hover:before {
    opacity: 0;
  }
}
._home_10but_1 ._homeVersions_10but_1 ._version_10but_6._loading_10but_94 {
  position: relative;
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6._loading_10but_94:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-sm);
  background: #00000080;
  backdrop-filter: blur(8px);
  z-index: 10000;
  opacity: 0;
  animation: _fadeIn_10but_1 0.3s ease forwards;
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._preloaderOverlay_10but_109 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  opacity: 0;
  animation: _fadeIn_10but_1 0.3s ease forwards;
  pointer-events: none;
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._preloaderOverlay_10but_109
  ._circularLoader_10but_123 {
  position: relative;
  width: 80px;
  height: 80px;
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._preloaderOverlay_10but_109
  ._circularLoader_10but_123
  svg {
  width: 80px;
  height: 80px;
  transform: rotate(-90deg);
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._preloaderOverlay_10but_109
  ._circularLoader_10but_123
  svg
  circle {
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._preloaderOverlay_10but_109
  ._circularLoader_10but_123
  svg
  circle._bg_10but_138 {
  stroke: #ffffff26;
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._preloaderOverlay_10but_109
  ._circularLoader_10but_123
  svg
  circle._fill_10but_141 {
  stroke: var(--accent-color);
  stroke-dasharray: 226;
  stroke-dashoffset: calc(226 - 226 * var(--progress) / 100);
  transition: stroke-dashoffset 0.3s ease;
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._preloaderOverlay_10but_109
  ._percentage_10but_147 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6
  ._preloaderOverlay_10but_109
  ._loaderText_10but_157 {
  color: #fff;
  font-size: 12px;
  opacity: 0.9;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 300px;
}
._home_10but_1 ._homeVersions_10but_1 ._version_10but_6._noAccess_10but_165 {
  position: relative;
  pointer-events: none !important;
}
._home_10but_1
  ._homeVersions_10but_1
  ._version_10but_6._noAccess_10but_165:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0007;
  backdrop-filter: blur(2px) saturate(20%);
  border-radius: var(--border-radius-sm);
  z-index: 10000;
}
@keyframes _fadeIn_10but_1 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
input[type="range"] {
  margin-top: 5px;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  height: 5px;
  border-radius: var(--border-radius-lg);
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background: var(--accent-color-mixed);
  border: 2px solid var(--input-bg-color);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition:
    left 0.3s ease,
    transform 0.3s ease;
  transform: scale(1.2);
  transform: translateY(-32.5%);
}
input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.4);
}
._settings_fqdp4_1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._settings_fqdp4_1 ._settingDouble_fqdp4_6 {
  display: flex;
  align-items: center;
  gap: 4px;
}
._settings_fqdp4_1 ._settingDouble_fqdp4_6 ._setting_fqdp4_1 {
  width: 100%;
  max-width: 549px;
}
._settings_fqdp4_1 ._settingDouble_fqdp4_6 button {
  width: 155px;
  height: 50px;
  border-radius: var(--border-radius-sm);
}
._settings_fqdp4_1 ._setting_fqdp4_1 {
  padding: calc(var(--padding-md) + 4px);
  border-radius: var(--border-radius-sm);
  background: var(--input-bg-color);
}
._settings_fqdp4_1 ._settingRam_fqdp4_25 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._settings_fqdp4_1 ._settingRam_fqdp4_25 label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._header_a9vqm_1 {
  transition-behavior: allow-discrete;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
}
._header_a9vqm_1._active_a9vqm_8 {
  display: flex;
  opacity: 1;
}
@starting-style {
  ._header_a9vqm_1._active_a9vqm_8 {
    opacity: 0;
  }
}
._header_a9vqm_1 ._headerLeft_a9vqm_17 {
  display: flex;
  align-items: center;
  gap: 8px;
}
._header_a9vqm_1 ._headerLeft_a9vqm_17 ._headerAccount_a9vqm_22 {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: var(--border-radius-sm);
  background: var(--input-bg-color);
  padding: var(--border-radius-sm);
  width: 180px;
  height: 46px;
}
._header_a9vqm_1
  ._headerLeft_a9vqm_17
  ._headerAccount_a9vqm_22
  ._accountAvatar_a9vqm_32
  img {
  width: 28px;
  height: 28px;
  border-radius: calc(var(--border-radius-sm) - 4px);
}
._header_a9vqm_1
  ._headerLeft_a9vqm_17
  ._headerAccount_a9vqm_22
  ._accountInfo_a9vqm_37
  ._infoName_a9vqm_37 {
  font-size: 12px;
}
._header_a9vqm_1
  ._headerLeft_a9vqm_17
  ._headerAccount_a9vqm_22
  ._accountInfo_a9vqm_37
  ._infoSubscribe_a9vqm_40 {
  font-size: 11px;
  color: var(--text-color-grayed-48);
}
._header_a9vqm_1 ._headerLeft_a9vqm_17 ._headerNickname_a9vqm_44 {
  transition-behavior: allow-discrete;
  display: none;
  opacity: 0;
}
._header_a9vqm_1
  ._headerLeft_a9vqm_17
  ._headerNickname_a9vqm_44._active_a9vqm_8 {
  display: block;
  opacity: 1;
}
@starting-style {
  ._header_a9vqm_1
    ._headerLeft_a9vqm_17
    ._headerNickname_a9vqm_44._active_a9vqm_8 {
    opacity: 0;
  }
}
._header_a9vqm_1 ._headerRight_a9vqm_58 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 60px;
  height: 46px;
  border-radius: var(--border-radius-sm);
  background: var(--input-bg-color);
  padding: calc(var(--border-radius-md) + 4px);
}
._header_a9vqm_1 ._headerRight_a9vqm_58 ._action_a9vqm_69 {
  font-size: 12px;
}
._header_a9vqm_1 ._headerRight_a9vqm_58 ._action_a9vqm_69 i {
  cursor: pointer;
  color: var(--text-color-grayed-24);
}
._header_a9vqm_1 ._headerRight_a9vqm_58 ._action_a9vqm_69 i:hover {
  color: var(--text-color-grayed);
}
._background_183py_1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-radius: calc(var(--border-radius-md) + 4px);
  background: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--accent-color-mixed);
}
._appContainer_183py_14 {
  display: flex;
  padding: var(--padding-sm);
  gap: 8px;
  width: 100%;
  height: 100%;
}
._appContainer_183py_14 ._containerNavigation_183py_21 {
  width: 100%;
  max-width: 46px;
}
._appContainer_183py_14 ._containerContent_183py_25 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
._navigation_1twi2_1 {
  transition-behavior: allow-discrete;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  display: none;
  opacity: 0;
}
._navigation_1twi2_1._active_1twi2_9 {
  display: flex;
  opacity: 1;
}
@starting-style {
  ._navigation_1twi2_1._active_1twi2_9 {
    opacity: 0;
  }
}
._navigation_1twi2_1 ._navigationHeader_1twi2_18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
._navigation_1twi2_1 ._navigationHeader_1twi2_18 ._headerIcon_1twi2_24,
._navigation_1twi2_1 ._navigationHeader_1twi2_18 ._path_1twi2_25 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  border-radius: var(--border-radius-sm);
  border: 1px solid transparent;
}
._navigation_1twi2_1 ._navigationHeader_1twi2_18 ._headerIcon_1twi2_24 {
  background: var(--input-bg-color);
  font-size: 20px;
}
._navigation_1twi2_1 ._navigationHeader_1twi2_18 ._path_1twi2_25 {
  font-size: 14px;
}
._navigation_1twi2_1
  ._navigationHeader_1twi2_18
  ._path_1twi2_25._current_1twi2_41 {
  background: var(--input-bg-color);
  border: 1px solid var(--border-color);
}
._navigation_1twi2_1
  ._navigationHeader_1twi2_18
  ._path_1twi2_25:not(._current_1twi2_41):hover {
  cursor: pointer;
  background: color-mix(in srgb, var(--input-bg-color), transparent 75%);
  border: 1px solid color-mix(in srgb, var(--border-color), transparent 75%);
}
._navigation_1twi2_1 ._navigationFooter_1twi2_50 ._footerIcon_1twi2_50 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  border-radius: var(--border-radius-sm);
  padding: calc(var(--border-radius-md) + 4px);
  font-size: 14px;
  background: var(--input-bg-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
}
._navigation_1twi2_1 ._navigationFooter_1twi2_50 ._footerIcon_1twi2_50:hover {
  background: color-mix(in srgb, var(--input-bg-color), transparent 75%);
  border: 1px solid color-mix(in srgb, var(--border-color), transparent 75%);
}
[data-aos][data-aos][data-aos-duration="50"],
body[data-aos-duration="50"] [data-aos] {
  transition-duration: 50ms;
}
[data-aos][data-aos][data-aos-delay="50"],
body[data-aos-delay="50"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="50"].aos-animate,
body[data-aos-delay="50"] [data-aos].aos-animate {
  transition-delay: 50ms;
}
[data-aos][data-aos][data-aos-duration="100"],
body[data-aos-duration="100"] [data-aos] {
  transition-duration: 0.1s;
}
[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: 0.1s;
}
[data-aos][data-aos][data-aos-duration="150"],
body[data-aos-duration="150"] [data-aos] {
  transition-duration: 0.15s;
}
[data-aos][data-aos][data-aos-delay="150"],
body[data-aos-delay="150"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="150"].aos-animate,
body[data-aos-delay="150"] [data-aos].aos-animate {
  transition-delay: 0.15s;
}
[data-aos][data-aos][data-aos-duration="200"],
body[data-aos-duration="200"] [data-aos] {
  transition-duration: 0.2s;
}
[data-aos][data-aos][data-aos-delay="200"],
body[data-aos-delay="200"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="200"].aos-animate,
body[data-aos-delay="200"] [data-aos].aos-animate {
  transition-delay: 0.2s;
}
[data-aos][data-aos][data-aos-duration="250"],
body[data-aos-duration="250"] [data-aos] {
  transition-duration: 0.25s;
}
[data-aos][data-aos][data-aos-delay="250"],
body[data-aos-delay="250"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="250"].aos-animate,
body[data-aos-delay="250"] [data-aos].aos-animate {
  transition-delay: 0.25s;
}
[data-aos][data-aos][data-aos-duration="300"],
body[data-aos-duration="300"] [data-aos] {
  transition-duration: 0.3s;
}
[data-aos][data-aos][data-aos-delay="300"],
body[data-aos-delay="300"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="300"].aos-animate,
body[data-aos-delay="300"] [data-aos].aos-animate {
  transition-delay: 0.3s;
}
[data-aos][data-aos][data-aos-duration="350"],
body[data-aos-duration="350"] [data-aos] {
  transition-duration: 0.35s;
}
[data-aos][data-aos][data-aos-delay="350"],
body[data-aos-delay="350"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="350"].aos-animate,
body[data-aos-delay="350"] [data-aos].aos-animate {
  transition-delay: 0.35s;
}
[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
  transition-duration: 0.4s;
}
[data-aos][data-aos][data-aos-delay="400"],
body[data-aos-delay="400"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="400"].aos-animate,
body[data-aos-delay="400"] [data-aos].aos-animate {
  transition-delay: 0.4s;
}
[data-aos][data-aos][data-aos-duration="450"],
body[data-aos-duration="450"] [data-aos] {
  transition-duration: 0.45s;
}
[data-aos][data-aos][data-aos-delay="450"],
body[data-aos-delay="450"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="450"].aos-animate,
body[data-aos-delay="450"] [data-aos].aos-animate {
  transition-delay: 0.45s;
}
[data-aos][data-aos][data-aos-duration="500"],
body[data-aos-duration="500"] [data-aos] {
  transition-duration: 0.5s;
}
[data-aos][data-aos][data-aos-delay="500"],
body[data-aos-delay="500"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="500"].aos-animate,
body[data-aos-delay="500"] [data-aos].aos-animate {
  transition-delay: 0.5s;
}
[data-aos][data-aos][data-aos-duration="550"],
body[data-aos-duration="550"] [data-aos] {
  transition-duration: 0.55s;
}
[data-aos][data-aos][data-aos-delay="550"],
body[data-aos-delay="550"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="550"].aos-animate,
body[data-aos-delay="550"] [data-aos].aos-animate {
  transition-delay: 0.55s;
}
[data-aos][data-aos][data-aos-duration="600"],
body[data-aos-duration="600"] [data-aos] {
  transition-duration: 0.6s;
}
[data-aos][data-aos][data-aos-delay="600"],
body[data-aos-delay="600"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="600"].aos-animate,
body[data-aos-delay="600"] [data-aos].aos-animate {
  transition-delay: 0.6s;
}
[data-aos][data-aos][data-aos-duration="650"],
body[data-aos-duration="650"] [data-aos] {
  transition-duration: 0.65s;
}
[data-aos][data-aos][data-aos-delay="650"],
body[data-aos-delay="650"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="650"].aos-animate,
body[data-aos-delay="650"] [data-aos].aos-animate {
  transition-delay: 0.65s;
}
[data-aos][data-aos][data-aos-duration="700"],
body[data-aos-duration="700"] [data-aos] {
  transition-duration: 0.7s;
}
[data-aos][data-aos][data-aos-delay="700"],
body[data-aos-delay="700"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="700"].aos-animate,
body[data-aos-delay="700"] [data-aos].aos-animate {
  transition-delay: 0.7s;
}
[data-aos][data-aos][data-aos-duration="750"],
body[data-aos-duration="750"] [data-aos] {
  transition-duration: 0.75s;
}
[data-aos][data-aos][data-aos-delay="750"],
body[data-aos-delay="750"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="750"].aos-animate,
body[data-aos-delay="750"] [data-aos].aos-animate {
  transition-delay: 0.75s;
}
[data-aos][data-aos][data-aos-duration="800"],
body[data-aos-duration="800"] [data-aos] {
  transition-duration: 0.8s;
}
[data-aos][data-aos][data-aos-delay="800"],
body[data-aos-delay="800"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="800"].aos-animate,
body[data-aos-delay="800"] [data-aos].aos-animate {
  transition-delay: 0.8s;
}
[data-aos][data-aos][data-aos-duration="850"],
body[data-aos-duration="850"] [data-aos] {
  transition-duration: 0.85s;
}
[data-aos][data-aos][data-aos-delay="850"],
body[data-aos-delay="850"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="850"].aos-animate,
body[data-aos-delay="850"] [data-aos].aos-animate {
  transition-delay: 0.85s;
}
[data-aos][data-aos][data-aos-duration="900"],
body[data-aos-duration="900"] [data-aos] {
  transition-duration: 0.9s;
}
[data-aos][data-aos][data-aos-delay="900"],
body[data-aos-delay="900"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="900"].aos-animate,
body[data-aos-delay="900"] [data-aos].aos-animate {
  transition-delay: 0.9s;
}
[data-aos][data-aos][data-aos-duration="950"],
body[data-aos-duration="950"] [data-aos] {
  transition-duration: 0.95s;
}
[data-aos][data-aos][data-aos-delay="950"],
body[data-aos-delay="950"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="950"].aos-animate,
body[data-aos-delay="950"] [data-aos].aos-animate {
  transition-delay: 0.95s;
}
[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
  transition-duration: 1s;
}
[data-aos][data-aos][data-aos-delay="1000"],
body[data-aos-delay="1000"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1000"].aos-animate,
body[data-aos-delay="1000"] [data-aos].aos-animate {
  transition-delay: 1s;
}
[data-aos][data-aos][data-aos-duration="1050"],
body[data-aos-duration="1050"] [data-aos] {
  transition-duration: 1.05s;
}
[data-aos][data-aos][data-aos-delay="1050"],
body[data-aos-delay="1050"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1050"].aos-animate,
body[data-aos-delay="1050"] [data-aos].aos-animate {
  transition-delay: 1.05s;
}
[data-aos][data-aos][data-aos-duration="1100"],
body[data-aos-duration="1100"] [data-aos] {
  transition-duration: 1.1s;
}
[data-aos][data-aos][data-aos-delay="1100"],
body[data-aos-delay="1100"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1100"].aos-animate,
body[data-aos-delay="1100"] [data-aos].aos-animate {
  transition-delay: 1.1s;
}
[data-aos][data-aos][data-aos-duration="1150"],
body[data-aos-duration="1150"] [data-aos] {
  transition-duration: 1.15s;
}
[data-aos][data-aos][data-aos-delay="1150"],
body[data-aos-delay="1150"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1150"].aos-animate,
body[data-aos-delay="1150"] [data-aos].aos-animate {
  transition-delay: 1.15s;
}
[data-aos][data-aos][data-aos-duration="1200"],
body[data-aos-duration="1200"] [data-aos] {
  transition-duration: 1.2s;
}
[data-aos][data-aos][data-aos-delay="1200"],
body[data-aos-delay="1200"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1200"].aos-animate,
body[data-aos-delay="1200"] [data-aos].aos-animate {
  transition-delay: 1.2s;
}
[data-aos][data-aos][data-aos-duration="1250"],
body[data-aos-duration="1250"] [data-aos] {
  transition-duration: 1.25s;
}
[data-aos][data-aos][data-aos-delay="1250"],
body[data-aos-delay="1250"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1250"].aos-animate,
body[data-aos-delay="1250"] [data-aos].aos-animate {
  transition-delay: 1.25s;
}
[data-aos][data-aos][data-aos-duration="1300"],
body[data-aos-duration="1300"] [data-aos] {
  transition-duration: 1.3s;
}
[data-aos][data-aos][data-aos-delay="1300"],
body[data-aos-delay="1300"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1300"].aos-animate,
body[data-aos-delay="1300"] [data-aos].aos-animate {
  transition-delay: 1.3s;
}
[data-aos][data-aos][data-aos-duration="1350"],
body[data-aos-duration="1350"] [data-aos] {
  transition-duration: 1.35s;
}
[data-aos][data-aos][data-aos-delay="1350"],
body[data-aos-delay="1350"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1350"].aos-animate,
body[data-aos-delay="1350"] [data-aos].aos-animate {
  transition-delay: 1.35s;
}
[data-aos][data-aos][data-aos-duration="1400"],
body[data-aos-duration="1400"] [data-aos] {
  transition-duration: 1.4s;
}
[data-aos][data-aos][data-aos-delay="1400"],
body[data-aos-delay="1400"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1400"].aos-animate,
body[data-aos-delay="1400"] [data-aos].aos-animate {
  transition-delay: 1.4s;
}
[data-aos][data-aos][data-aos-duration="1450"],
body[data-aos-duration="1450"] [data-aos] {
  transition-duration: 1.45s;
}
[data-aos][data-aos][data-aos-delay="1450"],
body[data-aos-delay="1450"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1450"].aos-animate,
body[data-aos-delay="1450"] [data-aos].aos-animate {
  transition-delay: 1.45s;
}
[data-aos][data-aos][data-aos-duration="1500"],
body[data-aos-duration="1500"] [data-aos] {
  transition-duration: 1.5s;
}
[data-aos][data-aos][data-aos-delay="1500"],
body[data-aos-delay="1500"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1500"].aos-animate,
body[data-aos-delay="1500"] [data-aos].aos-animate {
  transition-delay: 1.5s;
}
[data-aos][data-aos][data-aos-duration="1550"],
body[data-aos-duration="1550"] [data-aos] {
  transition-duration: 1.55s;
}
[data-aos][data-aos][data-aos-delay="1550"],
body[data-aos-delay="1550"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1550"].aos-animate,
body[data-aos-delay="1550"] [data-aos].aos-animate {
  transition-delay: 1.55s;
}
[data-aos][data-aos][data-aos-duration="1600"],
body[data-aos-duration="1600"] [data-aos] {
  transition-duration: 1.6s;
}
[data-aos][data-aos][data-aos-delay="1600"],
body[data-aos-delay="1600"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1600"].aos-animate,
body[data-aos-delay="1600"] [data-aos].aos-animate {
  transition-delay: 1.6s;
}
[data-aos][data-aos][data-aos-duration="1650"],
body[data-aos-duration="1650"] [data-aos] {
  transition-duration: 1.65s;
}
[data-aos][data-aos][data-aos-delay="1650"],
body[data-aos-delay="1650"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1650"].aos-animate,
body[data-aos-delay="1650"] [data-aos].aos-animate {
  transition-delay: 1.65s;
}
[data-aos][data-aos][data-aos-duration="1700"],
body[data-aos-duration="1700"] [data-aos] {
  transition-duration: 1.7s;
}
[data-aos][data-aos][data-aos-delay="1700"],
body[data-aos-delay="1700"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1700"].aos-animate,
body[data-aos-delay="1700"] [data-aos].aos-animate {
  transition-delay: 1.7s;
}
[data-aos][data-aos][data-aos-duration="1750"],
body[data-aos-duration="1750"] [data-aos] {
  transition-duration: 1.75s;
}
[data-aos][data-aos][data-aos-delay="1750"],
body[data-aos-delay="1750"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1750"].aos-animate,
body[data-aos-delay="1750"] [data-aos].aos-animate {
  transition-delay: 1.75s;
}
[data-aos][data-aos][data-aos-duration="1800"],
body[data-aos-duration="1800"] [data-aos] {
  transition-duration: 1.8s;
}
[data-aos][data-aos][data-aos-delay="1800"],
body[data-aos-delay="1800"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1800"].aos-animate,
body[data-aos-delay="1800"] [data-aos].aos-animate {
  transition-delay: 1.8s;
}
[data-aos][data-aos][data-aos-duration="1850"],
body[data-aos-duration="1850"] [data-aos] {
  transition-duration: 1.85s;
}
[data-aos][data-aos][data-aos-delay="1850"],
body[data-aos-delay="1850"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1850"].aos-animate,
body[data-aos-delay="1850"] [data-aos].aos-animate {
  transition-delay: 1.85s;
}
[data-aos][data-aos][data-aos-duration="1900"],
body[data-aos-duration="1900"] [data-aos] {
  transition-duration: 1.9s;
}
[data-aos][data-aos][data-aos-delay="1900"],
body[data-aos-delay="1900"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1900"].aos-animate,
body[data-aos-delay="1900"] [data-aos].aos-animate {
  transition-delay: 1.9s;
}
[data-aos][data-aos][data-aos-duration="1950"],
body[data-aos-duration="1950"] [data-aos] {
  transition-duration: 1.95s;
}
[data-aos][data-aos][data-aos-delay="1950"],
body[data-aos-delay="1950"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1950"].aos-animate,
body[data-aos-delay="1950"] [data-aos].aos-animate {
  transition-delay: 1.95s;
}
[data-aos][data-aos][data-aos-duration="2000"],
body[data-aos-duration="2000"] [data-aos] {
  transition-duration: 2s;
}
[data-aos][data-aos][data-aos-delay="2000"],
body[data-aos-delay="2000"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2000"].aos-animate,
body[data-aos-delay="2000"] [data-aos].aos-animate {
  transition-delay: 2s;
}
[data-aos][data-aos][data-aos-duration="2050"],
body[data-aos-duration="2050"] [data-aos] {
  transition-duration: 2.05s;
}
[data-aos][data-aos][data-aos-delay="2050"],
body[data-aos-delay="2050"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2050"].aos-animate,
body[data-aos-delay="2050"] [data-aos].aos-animate {
  transition-delay: 2.05s;
}
[data-aos][data-aos][data-aos-duration="2100"],
body[data-aos-duration="2100"] [data-aos] {
  transition-duration: 2.1s;
}
[data-aos][data-aos][data-aos-delay="2100"],
body[data-aos-delay="2100"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2100"].aos-animate,
body[data-aos-delay="2100"] [data-aos].aos-animate {
  transition-delay: 2.1s;
}
[data-aos][data-aos][data-aos-duration="2150"],
body[data-aos-duration="2150"] [data-aos] {
  transition-duration: 2.15s;
}
[data-aos][data-aos][data-aos-delay="2150"],
body[data-aos-delay="2150"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2150"].aos-animate,
body[data-aos-delay="2150"] [data-aos].aos-animate {
  transition-delay: 2.15s;
}
[data-aos][data-aos][data-aos-duration="2200"],
body[data-aos-duration="2200"] [data-aos] {
  transition-duration: 2.2s;
}
[data-aos][data-aos][data-aos-delay="2200"],
body[data-aos-delay="2200"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2200"].aos-animate,
body[data-aos-delay="2200"] [data-aos].aos-animate {
  transition-delay: 2.2s;
}
[data-aos][data-aos][data-aos-duration="2250"],
body[data-aos-duration="2250"] [data-aos] {
  transition-duration: 2.25s;
}
[data-aos][data-aos][data-aos-delay="2250"],
body[data-aos-delay="2250"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2250"].aos-animate,
body[data-aos-delay="2250"] [data-aos].aos-animate {
  transition-delay: 2.25s;
}
[data-aos][data-aos][data-aos-duration="2300"],
body[data-aos-duration="2300"] [data-aos] {
  transition-duration: 2.3s;
}
[data-aos][data-aos][data-aos-delay="2300"],
body[data-aos-delay="2300"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2300"].aos-animate,
body[data-aos-delay="2300"] [data-aos].aos-animate {
  transition-delay: 2.3s;
}
[data-aos][data-aos][data-aos-duration="2350"],
body[data-aos-duration="2350"] [data-aos] {
  transition-duration: 2.35s;
}
[data-aos][data-aos][data-aos-delay="2350"],
body[data-aos-delay="2350"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2350"].aos-animate,
body[data-aos-delay="2350"] [data-aos].aos-animate {
  transition-delay: 2.35s;
}
[data-aos][data-aos][data-aos-duration="2400"],
body[data-aos-duration="2400"] [data-aos] {
  transition-duration: 2.4s;
}
[data-aos][data-aos][data-aos-delay="2400"],
body[data-aos-delay="2400"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2400"].aos-animate,
body[data-aos-delay="2400"] [data-aos].aos-animate {
  transition-delay: 2.4s;
}
[data-aos][data-aos][data-aos-duration="2450"],
body[data-aos-duration="2450"] [data-aos] {
  transition-duration: 2.45s;
}
[data-aos][data-aos][data-aos-delay="2450"],
body[data-aos-delay="2450"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2450"].aos-animate,
body[data-aos-delay="2450"] [data-aos].aos-animate {
  transition-delay: 2.45s;
}
[data-aos][data-aos][data-aos-duration="2500"],
body[data-aos-duration="2500"] [data-aos] {
  transition-duration: 2.5s;
}
[data-aos][data-aos][data-aos-delay="2500"],
body[data-aos-delay="2500"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2500"].aos-animate,
body[data-aos-delay="2500"] [data-aos].aos-animate {
  transition-delay: 2.5s;
}
[data-aos][data-aos][data-aos-duration="2550"],
body[data-aos-duration="2550"] [data-aos] {
  transition-duration: 2.55s;
}
[data-aos][data-aos][data-aos-delay="2550"],
body[data-aos-delay="2550"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2550"].aos-animate,
body[data-aos-delay="2550"] [data-aos].aos-animate {
  transition-delay: 2.55s;
}
[data-aos][data-aos][data-aos-duration="2600"],
body[data-aos-duration="2600"] [data-aos] {
  transition-duration: 2.6s;
}
[data-aos][data-aos][data-aos-delay="2600"],
body[data-aos-delay="2600"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2600"].aos-animate,
body[data-aos-delay="2600"] [data-aos].aos-animate {
  transition-delay: 2.6s;
}
[data-aos][data-aos][data-aos-duration="2650"],
body[data-aos-duration="2650"] [data-aos] {
  transition-duration: 2.65s;
}
[data-aos][data-aos][data-aos-delay="2650"],
body[data-aos-delay="2650"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2650"].aos-animate,
body[data-aos-delay="2650"] [data-aos].aos-animate {
  transition-delay: 2.65s;
}
[data-aos][data-aos][data-aos-duration="2700"],
body[data-aos-duration="2700"] [data-aos] {
  transition-duration: 2.7s;
}
[data-aos][data-aos][data-aos-delay="2700"],
body[data-aos-delay="2700"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2700"].aos-animate,
body[data-aos-delay="2700"] [data-aos].aos-animate {
  transition-delay: 2.7s;
}
[data-aos][data-aos][data-aos-duration="2750"],
body[data-aos-duration="2750"] [data-aos] {
  transition-duration: 2.75s;
}
[data-aos][data-aos][data-aos-delay="2750"],
body[data-aos-delay="2750"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2750"].aos-animate,
body[data-aos-delay="2750"] [data-aos].aos-animate {
  transition-delay: 2.75s;
}
[data-aos][data-aos][data-aos-duration="2800"],
body[data-aos-duration="2800"] [data-aos] {
  transition-duration: 2.8s;
}
[data-aos][data-aos][data-aos-delay="2800"],
body[data-aos-delay="2800"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2800"].aos-animate,
body[data-aos-delay="2800"] [data-aos].aos-animate {
  transition-delay: 2.8s;
}
[data-aos][data-aos][data-aos-duration="2850"],
body[data-aos-duration="2850"] [data-aos] {
  transition-duration: 2.85s;
}
[data-aos][data-aos][data-aos-delay="2850"],
body[data-aos-delay="2850"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2850"].aos-animate,
body[data-aos-delay="2850"] [data-aos].aos-animate {
  transition-delay: 2.85s;
}
[data-aos][data-aos][data-aos-duration="2900"],
body[data-aos-duration="2900"] [data-aos] {
  transition-duration: 2.9s;
}
[data-aos][data-aos][data-aos-delay="2900"],
body[data-aos-delay="2900"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2900"].aos-animate,
body[data-aos-delay="2900"] [data-aos].aos-animate {
  transition-delay: 2.9s;
}
[data-aos][data-aos][data-aos-duration="2950"],
body[data-aos-duration="2950"] [data-aos] {
  transition-duration: 2.95s;
}
[data-aos][data-aos][data-aos-delay="2950"],
body[data-aos-delay="2950"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2950"].aos-animate,
body[data-aos-delay="2950"] [data-aos].aos-animate {
  transition-delay: 2.95s;
}
[data-aos][data-aos][data-aos-duration="3000"],
body[data-aos-duration="3000"] [data-aos] {
  transition-duration: 3s;
}
[data-aos][data-aos][data-aos-delay="3000"],
body[data-aos-delay="3000"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="3000"].aos-animate,
body[data-aos-delay="3000"] [data-aos].aos-animate {
  transition-delay: 3s;
}
[data-aos][data-aos][data-aos-easing="linear"],
body[data-aos-easing="linear"] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
[data-aos][data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
  transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-easing="ease-in"],
body[data-aos-easing="ease-in"] [data-aos] {
  transition-timing-function: ease-in;
}
[data-aos][data-aos][data-aos-easing="ease-out"],
body[data-aos-easing="ease-out"] [data-aos] {
  transition-timing-function: ease-out;
}
[data-aos][data-aos][data-aos-easing="ease-in-out"],
body[data-aos-easing="ease-in-out"] [data-aos] {
  transition-timing-function: ease-in-out;
}
[data-aos][data-aos][data-aos-easing="ease-in-back"],
body[data-aos-easing="ease-in-back"] [data-aos] {
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
[data-aos][data-aos][data-aos-easing="ease-out-back"],
body[data-aos-easing="ease-out-back"] [data-aos] {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
[data-aos][data-aos][data-aos-easing="ease-in-out-back"],
body[data-aos-easing="ease-in-out-back"] [data-aos] {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
[data-aos][data-aos][data-aos-easing="ease-in-sine"],
body[data-aos-easing="ease-in-sine"] [data-aos] {
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
[data-aos][data-aos][data-aos-easing="ease-out-sine"],
body[data-aos-easing="ease-out-sine"] [data-aos] {
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
[data-aos][data-aos][data-aos-easing="ease-in-out-sine"],
body[data-aos-easing="ease-in-out-sine"] [data-aos] {
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
[data-aos][data-aos][data-aos-easing="ease-in-quad"],
body[data-aos-easing="ease-in-quad"] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
[data-aos][data-aos][data-aos-easing="ease-out-quad"],
body[data-aos-easing="ease-out-quad"] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
[data-aos][data-aos][data-aos-easing="ease-in-out-quad"],
body[data-aos-easing="ease-in-out-quad"] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-aos][data-aos][data-aos-easing="ease-in-cubic"],
body[data-aos-easing="ease-in-cubic"] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
[data-aos][data-aos][data-aos-easing="ease-out-cubic"],
body[data-aos-easing="ease-out-cubic"] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
[data-aos][data-aos][data-aos-easing="ease-in-out-cubic"],
body[data-aos-easing="ease-in-out-cubic"] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-aos][data-aos][data-aos-easing="ease-in-quart"],
body[data-aos-easing="ease-in-quart"] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
[data-aos][data-aos][data-aos-easing="ease-out-quart"],
body[data-aos-easing="ease-out-quart"] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
[data-aos][data-aos][data-aos-easing="ease-in-out-quart"],
body[data-aos-easing="ease-in-out-quart"] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, transform;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}
[data-aos="fade-up"] {
  transform: translate3d(0, 100px, 0);
}
[data-aos="fade-down"] {
  transform: translate3d(0, -100px, 0);
}
[data-aos="fade-right"] {
  transform: translate3d(-100px, 0, 0);
}
[data-aos="fade-left"] {
  transform: translate3d(100px, 0, 0);
}
[data-aos="fade-up-right"] {
  transform: translate3d(-100px, 100px, 0);
}
[data-aos="fade-up-left"] {
  transform: translate3d(100px, 100px, 0);
}
[data-aos="fade-down-right"] {
  transform: translate3d(-100px, -100px, 0);
}
[data-aos="fade-down-left"] {
  transform: translate3d(100px, -100px, 0);
}
[data-aos^="zoom"][data-aos^="zoom"] {
  opacity: 0;
  transition-property: opacity, transform;
}
[data-aos^="zoom"][data-aos^="zoom"].aos-animate {
  opacity: 1;
  transform: translateZ(0) scale(1);
}
[data-aos="zoom-in"] {
  transform: scale(0.6);
}
[data-aos="zoom-in-up"] {
  transform: translate3d(0, 100px, 0) scale(0.6);
}
[data-aos="zoom-in-down"] {
  transform: translate3d(0, -100px, 0) scale(0.6);
}
[data-aos="zoom-in-right"] {
  transform: translate3d(-100px, 0, 0) scale(0.6);
}
[data-aos="zoom-in-left"] {
  transform: translate3d(100px, 0, 0) scale(0.6);
}
[data-aos="zoom-out"] {
  transform: scale(1.2);
}
[data-aos="zoom-out-up"] {
  transform: translate3d(0, 100px, 0) scale(1.2);
}
[data-aos="zoom-out-down"] {
  transform: translate3d(0, -100px, 0) scale(1.2);
}
[data-aos="zoom-out-right"] {
  transform: translate3d(-100px, 0, 0) scale(1.2);
}
[data-aos="zoom-out-left"] {
  transform: translate3d(100px, 0, 0) scale(1.2);
}
[data-aos^="slide"][data-aos^="slide"] {
  transition-property: transform;
}
[data-aos^="slide"][data-aos^="slide"].aos-animate {
  transform: translateZ(0);
}
[data-aos="slide-up"] {
  transform: translate3d(0, 100%, 0);
}
[data-aos="slide-down"] {
  transform: translate3d(0, -100%, 0);
}
[data-aos="slide-right"] {
  transform: translate3d(-100%, 0, 0);
}
[data-aos="slide-left"] {
  transform: translate3d(100%, 0, 0);
}
[data-aos^="flip"][data-aos^="flip"] {
  backface-visibility: hidden;
  transition-property: transform;
}
[data-aos="flip-left"] {
  transform: perspective(2500px) rotateY(-100deg);
}
[data-aos="flip-left"].aos-animate {
  transform: perspective(2500px) rotateY(0);
}
[data-aos="flip-right"] {
  transform: perspective(2500px) rotateY(100deg);
}
[data-aos="flip-right"].aos-animate {
  transform: perspective(2500px) rotateY(0);
}
[data-aos="flip-up"] {
  transform: perspective(2500px) rotateX(-100deg);
}
[data-aos="flip-up"].aos-animate {
  transform: perspective(2500px) rotateX(0);
}
[data-aos="flip-down"] {
  transform: perspective(2500px) rotateX(100deg);
}
[data-aos="flip-down"].aos-animate {
  transform: perspective(2500px) rotateX(0);
}
